fastapi
uvicorn[standard]
python-multipart
pdfplumber
pymupdf
pytesseract
pillow
openpyxl
pandas
tqdm
xlrd>=2.0.1
python-docx
requests
tenacity>=8.2.0
lxml
httpx
beautifulsoup4
playwright>=1.42.0
playwright-stealth>=2.0.0
SQLAlchemy
alembic
python-jose[cryptography]
python-dotenv
loguru
redis>=5.0.0
apscheduler>=3.10.0
psycopg2-binary>=2.9.9
google-generativeai
streamlit
streamlit-lottie
pytest>=8.0.0

